@model IEnumerable<EntityAlpha.Models.Aluguel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carro.placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.devolucao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carro.placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.devolucao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
